<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Pimcore Challenge - Fussballvereinsliste</title>
        <link rel="stylesheet" href="/css/common.css">
    </head>
    <body>
        <div class="page">
            {{ block('content') }}
        </div>
    </body>
</html>